        /* CSS for header container */
        .header {
            background-color: #f1f1f1;
            padding: 0px 20px;
        }
        
        /* CSS for header links */
        .header-link {
            color: #000;
            text-decoration: none;
            margin-right: 10%;
            font-weight: bold;
            font-size: 25px;
        }




.image {
    width: 50px ;
    height: 50px;
}


        /* CSS for header container */
        .header {
            background-color: #a2a4c0;
            padding: 0px 0px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 40px;
        }

        /* CSS for links */
        .header-link {
            color: #ffffff;
            text-decoration: none;
            margin-right: 20px;
            font-weight: bold;
        }

        a:hover {
            color: #000;
        }
        /* CSS for images */
        .header-image {
            height: 50px;
            width: 50px;
            margin: 0 0px;
        }


body {
    background-color: rgb(23, 23, 61);
}


        /* CSS for header container */
        .apaksa {
            background-color: #a2a4c0;
            padding: 0px 0px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 40px;
            
        }

        /* CSS for links */
        .apaksa-link {
            color: #ffffff;
            text-decoration: none;
            margin-right: 20px;
            font-weight: bold;
        }

        /* CSS for images */
        .apaksa-image {
            height: 50px;
            width: 50px;
            margin: 0 0px;
        }

.center {
    text-align: center;
    color: white;
}

.kreisa {
    float: left;
    padding: 0px 30px 30px 0px;
    width: 22%
}

.baltskreisa {
    color: white;
    padding: 3%;
}

.laba {
    float: right;
    padding: 0px 30px 0px 30px;
    width: 22%
}

.baltslaba {
    color: white;
    padding: 3%;
    text-align: right;
}